.plug-page {
  width: 100%;

  display: flex;
  position: relative;

  @media (min-width: $breakpoint) {
    height: 100vh;
  }
  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: calc(50% - #{getRem(112px)});

    width: getRem(224px);
    height: 50vh;
    padding: getRem(40px);
    background: var(--color-black);

    display: flex;
    align-items: flex-end;

    @media (max-width: $breakpoint-l) {
      width: getRem(160px);
      left: calc(50% - #{getRem(80px)});
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(84px);
      height: getRem(121px);
      padding: getRem(14px);
      left: calc(50% - #{getRem(42px)});
    }

    img {
      width: 100%;
    }
  }

  &__info-col {
    width: 50%;
    padding: getRem(40px) 0 getRem(40px) getRem(40px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint) {
      background: url(assets/images/plug-info-bg.png) no-repeat center;
    }
    @media (max-width: $breakpoint-l) {
      background-size: getRem(216px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      padding: getRem(160px) getRem(40px) getRem(40px) getRem(40px);
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      padding: getRem(160px) getRem(20px) getRem(40px) getRem(20px);
    }
  }

  &__img-col {
    width: 50%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url(assets/images/plag-big-bg.png) no-repeat left;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      height: getRem(540px);
      background: url(assets/images/plag-big-bg.png) no-repeat top;
      background-size: cover;
    }

    background-size: cover;

    .balloon {
      position: absolute;
      width: getRem(327px);

      @media (max-width: $breakpoint-l) {
        width: getRem(232px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        width: getRem(160px);
      }
    }
  }

  &__ttl {
    @include fsl(60px, 100%);
    font-weight: 600;
    letter-spacing: -0.02em;

    @media (max-width: $breakpoint-l) {
      @include fsl(48px, 100%);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(32px, 100%);
    }
  }

  &__top {

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(40px);
    }

    &-button {
      display: flex;
      align-items: center;
      padding: getRem(25px) getRem(32px);
      border: 1px solid var(--color-black);
      border-radius: getRem(40px);
      cursor: pointer;

      transition: $transition;

      @include fsl(18px, 130%);
      @media (max-width: $breakpoint-l) {
        @include fsl(16px, 130%);
        padding: getRem(20px) getRem(24px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(12px, 130%);
        padding: getRem(14.5px) getRem(16px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        padding: getRem(12px) getRem(16px);
      }

      &:hover {
        border-color: var(--color-blue);
        background: var(--color-blue);
      }

      svg {
        margin-left: getRem(32px);
        width: getRem(15.4px);
        @media (max-width: $breakpoint-l) {
          margin-left: getRem(16px);
        }
        @media (max-width: ($breakpoint - 1px)) {
          margin-left: getRem(8px);
        }
      }

      &:not(:last-child) {
        margin-right: getRem(12px);
        @media (max-width: $breakpoint-l) {
          margin-right: getRem(10px);
        }
        @media (max-width: ($breakpoint - 1px)) {
          margin-right: getRem(7px);
        }
      }
    }

    &-row {
      display: flex;
      margin-top: getRem(40px);
      @media (max-width: $breakpoint-l) {
        margin-top: getRem(32px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(24px);
      }
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    display: flex;

    &:nth-child(1) {
      margin-right: getRem(100px);
      margin-bottom: getRem(20px);
      @media (max-width: $breakpoint-l) {
        margin-right: getRem(40px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: getRem(10px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-bottom: getRem(20px);
      }
      @media (max-width: 526px) {
        margin-right: 0;
      }
    }
    &:nth-child(3) {
      width: 100%;
      margin-top: getRem(20px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(10px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: getRem(20px);
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;

      border: 1px solid var(--color-black);
      border-radius: 50%;

      width: getRem(48px);
      height: getRem(48px);

      margin-right: getRem(16px);

      @media (max-width: ($breakpoint - 1px)) {
        margin-right: getRem(8px);
        width: getRem(38px);
        height: getRem(38px);
      }

      .phone-icon {
        width: getRem(19.4px);
        @media (max-width: ($breakpoint - 1px)) {
          width: getRem(15.4px);
        }
      }
      .mail-icon {
        width: getRem(20px);
        @media (max-width: ($breakpoint - 1px)) {
          width: getRem(16.7px);
        }
      }
      .placemark-icon {
        width: getRem(15px);
        @media (max-width: ($breakpoint - 1px)) {
          width: getRem(12.5px);
        }
      }
    }

    &-col:not(:nth-child(1)):not(:nth-child(2)) {
      margin-left: getRem(40px);
      @media (max-width: $breakpoint-l) {
        margin-left: getRem(32px);
      }
    }

    &-txt {
      @include fsl(16px, 130%);
      margin-bottom: getRem(4px);
      @media (max-width: $breakpoint-l) {
        @include fsl(14px, 130%);
        margin-bottom: getRem(7px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(12px, 130%);
        margin-bottom: getRem(4px);
      }
    }

    &-bold {
      // font-family: 'Inter';
      // font-style: normal;
      @include fsl(18px, 130%);
      font-weight: 600;
      @media (max-width: $breakpoint-l) {
        @include fsl(16px, 130%);
      }
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(14px, 130%);
      }
    }

    a {
      transition: $transition;

      &:hover {
        color: var(--color-blue);
      }
    }
  }
}
